<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout}">
<body>
    <div layout:fragment="content">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Registrar Equipo</h4>
            </div>
            <div class="card-body">
                <form th:action="@{/guardar-equipo}" th:object="${equipo}" method="post">
                    <input type="hidden" th:field="*{id}" />

                    <div class="mb-3">
                        <label class="form-label">Nombre del Equipo</label>
                        <input type="text" th:field="*{nombre}" class="form-control" required/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Ciudad</label>
                        <input type="text" th:field="*{ciudad}" class="form-control" required/>
                    </div>

                    <button class="btn btn-success">Guardar Equipo</button>
                    <a href="@{/equipos}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>