<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
        layout:decorate="~{layout}">
        
<body class="container mt-4">

    <div layout:fragment="content">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Registrar Jugador</h4>
            </div>
            <div class="card-body">
                <form th:action="@{/}" th:object="${jugador}" method="post">
                    <input type="hidden" th:field="*{id}" />
                    
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" th:field="*{nombre}" class="form-control" required/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Equipo</label>
                        <select th:field="*{equipo.id}" class="form-select">
                            <option th:each="e : ${listaEquipos}" th:value="${e.id}" th:text="${e.nombre}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Posición</label>
                        <input type="text" th:field="*{posicion}" class="form-control" required/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Número de Camiseta</label>
                        <input type="number" th:field="*{numeroCamiseta}" class="form-control" required/>
                    </div>

                    <button class="btn btn-success">Guardar</button>
                    <a href="@{/}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>