<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<body class="container mt-4">
    <div layout:fragment="content">
        <h2>Listado de Jugadores</h2>
        <a href="@{/nuevo}" class="btn btn-success mb-3">Agregar Jugador</a>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Equipo</th>
                    <th>posicion</th>
                    <th>Numero de la Camiseta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody th:if="${jugador != null}">
                <tr th:each="j : ${jugador}">
                    <td th:text="${j.id}"></td>
                    <td th:text="${j.nombre}"></td>
                    <td th:text="${j.equipo != null ? j.equipo.nombre : 'Sin equipo'}"></td>
                    <td th:text="${j.posicion}"></td>
                    <td th:text="${j.numeroCamiseta}"></td>
                    <td>
                        <a th:href="@{/editar/{id}(id=${j.id})}" class="btn btn-warning btn-sm">Editar</a>
                        <a th:href="@{/eliminar/{id}(id=${j.id})}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>